/NetBeansProjects/JavaApplication4/nbproject/private/
/NetBeansProjects/FizzBuzz/nbproject/private/
/NetBeansProjects/FizzBuzz/build/
/NetBeansProjects/JavaCoursework2017/nbproject/private/
/NetBeansProjects/JavaCoursework2017/build/
/NetBeansProjects/JavaCoursework2017 4.0/dist/